.background-body {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(105,75,222,1) 100%);
}

.nb-color {
    background-color: black;
}

.center-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-color {
    background-color: purple;
}